body {
  font-family: Arial, sans-serif;

  margin: 0;

  background: linear-gradient(135deg, #6a11cb, #9b59b6, #8e44ad);

  text-align: center;

  color: white;
}

/* title */

.title {
  margin-top: 30px;

  font-size: 45px;

  animation: glow 2s infinite alternate;
}

/* team name */

.team {
  font-size: 22px;

  color: #ffd700;

  margin-top: -10px;
}

/* subtitle */

.subtitle {
  font-size: 18px;

  margin-bottom: 20px;
}

/* buttons */

.buttons {
  margin: 20px;

  animation: pop 0.6s ease;
}

.hidden {
  display: none;
}

button {
  padding: 12px 25px;

  margin: 10px;

  font-size: 16px;

  border: none;

  border-radius: 8px;

  background: rgb(58, 6, 6);

  color: rgba(255, 255, 255, 0.466);

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);

  background: #333;

  box-shadow: 0px 5px 15px rgba(8, 103, 220, 0.5);
}

/* graph card */

.graph-container {
  width: 950px;

  margin: auto;

  background: rgb(10, 133, 175);

  border-radius: 12px;

  padding: 15px;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

/* graph */

#network {
  width: 900px;

  height: 500px;

  border-radius: 10px;
}

/* title glow */

@keyframes glow {
  from {
    text-shadow: 0 0 10px white;
  }

  to {
    text-shadow:
      0 0 20px #ffdd00,
      0 0 30px #ff00ff;
  }
}

/* button pop */

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------- INPUT STYLING (ADDED PART) ----------- */

input,
textarea {
  padding: 10px;

  margin: 8px;

  border-radius: 6px;

  border: none;

  font-size: 14px;
}

textarea {
  width: 260px;

  height: 100px;

  resize: none;
}

label {
  font-size: 16px;

  font-weight: bold;
}

#result {
  margin-top: 15px;

  font-size: 20px;

  font-weight: bold;

  color: #5f18ca;
}
